<div>
  <div class="logo-container">
    <a
      routerLink="/"
      style="display: flex; align-items: center; text-decoration: none; color: inherit"
    >
      <img
        alt="devtalles-logo"
        src="logos/LOGO B.webp"
        style="object-fit: contain; width: 200px; height: auto"
      />
      <span class="brand-sub">Blog</span>
    </a>
  </div>

  @if (showNavbar()) {
  <nav class="navbar">
    <ul>
      @for (navbarLink of menuNavbar(); track $index) {
      <li>
        @if (navbarLink === 'Inicio') {
        <a href="#inicio">{{ navbarLink }}</a>
        } @else if (navbarLink === 'Categorías') {
        <a href="#categorias">{{ navbarLink }}</a>
        } @else {
        <span>{{ navbarLink }}</span>
        }
      </li>
      }
    </ul>

    <div class="user-icon">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 512 512"
        width="50"
        height="50"
      >
        <circle cx="256" cy="256" r="200" fill="#FFFFFF" />
        <circle cx="256" cy="200" r="80" fill="#808080" />
        <path d="M128 400c0-70 56-128 128-128s128 58 128 128" fill="#808080" />
      </svg>
    </div>
  </nav>
  }
</div>
